@font-face {
  font-family: "Hello";
	src : url('font/Adam.otf');
}

@font-face {
  font-family: "modern";
  src: url('font/modern.otf');
}

/* menu */
.menu {
    overflow: hidden;
    font-family: modern;
    position: fixed;
    z-index: 2;
}

.menu a {
    float: left;
    color:#D8D8D8;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    background-color: #C5E99B;
    color: #548687;
}

/*effet parallax*/
body, html {
    height: 100%;
}

.parallax1,.parallax2,.parallax3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*1ere image*/
.parallax1 {
    background-image: url(images/fond.jpg);
    min-height: 100%;
    display: container;
}

.nom{
  font-size : 40px;
  color: #548687;
  text-align: center;
  box-sizing: inherit;
  white-space: nowrap;
  font-family: Hello;
}

#rectangle_centre{
  background-color : #C5E99B;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  padding: 1%;															 /* CLASS --> . */
}


/*1er fond blanc*/

#blocblanc{
  width: 100%;
  min-height: auto;
  background-color: white;
  margin-bottom: 150px;
}

#moi{
  width : 50% ;
  margin-left : 25% ;
  margin-top : 10% ;
  vertical-align : top;
  font-family : modern ;
  color :  #808080 ;
   text-align: center;
   text-justify: inter-word;
   font-size : 28px;
   display: block;
}

#moi h2 {
  color : #548687;
}

#photoprofil{
  width: 800px;
  display: flex;
  margin-top: 3%;
  z-index: 1;
  margin: 0 auto;
}

#photoprofil img {
  width: 400px;
}


#photoprofil p {
  width: auto;
  font-family: modern;
  color: black;
  font-size: 20px;
  display: block;
  margin-left: 16px;
  margin-top: 80px;
  text-align: justify;
}

#photoprofil p::first-letter {
  color: black;
  font-size: 40px;
}


.humour{
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: #548687;
  font-family: modern;
  color: white;
  padding: 2%;
  position: relative;
}

.humour p{
  display: inline-block;
  text-align: center;
  margin-left: 14%;
}

.cv{
  margin-top: 100px;
}

#pave h2{
  font-size: 25px;
  color : #548687;
}
#pave {
  width : 50% ;
  padding: 3%;
  margin-left : 25% ;
  background-color : #C5E99B ;
  display : inline-block ;
  margin-top : 0 ;
  vertical-align : top;
  font-family : modern ;
  color :  #808080 ;
  text-align: center;
  text-justify: inter-word;
  font-size : 20px;
  margin-bottom: 150px;
}

h2 {
  color: black;
  font-family: modern;
  font-size: 25px;
  margin-top: 0;
}

.parallax2 {
    background-image: url(images/paralaxxxx2.jpg);
    min-height: 50%;
    display: container;
    opacity: 0.5;
}

.projets{
  width : 50% ;
  margin-left : 25% ;
  margin-top : 5% ;
  vertical-align : top;
  font-family : modern ;
  color :  #808080 ;
   text-align: center;
   text-justify: inter-word;
   font-size : 25px;
   display: block;
  }

.projets h2 {
  color : #548687;
}


#blocblanc2{
  height:100%;
  background-color:white;
}

/*GALLERIE IMAGE*/

.gallery {
  border: 1px solid #8FBC94;
	font-family : modern;
  margin-top: 10%;
  -webkit-filter: blur(2px) grayscale(100%);
  filter: blur(2px) grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.gallery:hover {
    border : 1px solid #8FBC94;
	-webkit-filter: blur(0) grayscale(0);
	filter: blur(0) grayscale(0);
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
    height: 65px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 6px 6px;
    float: left;
    margin-left: 150px;
    width: 23%;
}

.telecharger{
  width : 100% ;
  background-color : #548687 ;
  display : inline-block ;
  margin-top : 5% ;
  vertical-align : top;
  padding : 1% ;
  font-family : modern ;
  color : white ;
  text-align: center;
  text-justify: inter-word;
  font-size:18px;
}

.infos {
  width : 100% ;
  background-color : #56445D ;
  display : inline-block ;
  margin-top :5% ;
  vertical-align : top;
  padding : 2px 2px 3px 12px ;
  font-family : modern ;
  color : white ;
  text-align: center;
  text-justify: inter-word;
  font-size:20px;
}


.infos h2 {
    font-size: 25px;
    color : white;
}

#reseaux{
  margin-left: -2%;
}

#reseaux a {
  text-decoration: none;
  color : white;
  margin-left: 2%;
}

#reseaux p {
  color: white;
}

#reseaux p a {
  margin-right: 80px;
}

#reseaux a:hover{
  color: #253474;
}




/* TEST RESPONSIVE*/

@media only screen and (max-width : 780px) {

  body {
      margin: 0;
  }

  .nom{
    font-size :25px;
    color: black;
    text-align: center;
    box-sizing: inherit;
    white-space: nowrap;
    font-family: Hello;
  }

  #rectangle_centre{
    background-color :#C5E99B;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 1%;															 /* CLASS --> . */
  }

  .menu {
      width : 100%;
      overflow: hidden;
      font-family: modern;
      position: fixed;
      z-index: 2;
      background-color: ;
      padding: 8px 10px;
      font-size: 10px;
      background-color: #C5E99B;
  }

  .menu a {
      margin-left: 2%;
      color:white;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
      font-size: 18px;
  }

  .menu a:hover {
      color: #548687;
  }

  #moi {
    /* background-color: green; */
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
    vertical-align: top;
    font-family: modern;
    color: #808080;
    text-align: center;
    text-justify: inter-word;
    font-size: 20px;
    display: block;
    padding-left: 7%;
    padding-right: 7%;
  }

#moi h2 {
    color :#548687;
}

  #photoprofil {
    /*background-color: green;*/
    width : 100% ;
    position: relative;
    display: block;
    margin-left : 0;
    margin-top: 2%;
  }

  #photoprofil img {
    width: 100%;
  }

  #photoprofil p {
    width: 100%;
    display: block;
    font-family: modern;
    text-align: justify;
    text-justify: inter-word;
    font-size: 60%;
    margin-left: 0;
    margin-top: 0;
    padding: 7%;
    font-size: 16px;
  }

  #photoprofil p::first-letter {
    color: black;
    font-size: 190%;
  }


  .humour{
    width: 100%;
    height:auto;
    display: block;
    background-color: #548687;
    font-family: modern;
    color: white;
    padding: 0;
    position: relative;
  	font-size : 60%;
  	text-align : center;
  }

  .humour p{
    display: inline-block;
    text-align: center;
    margin-left: 0;
    width: 49%;
    font-size: 16px;
  }

  .cv{
    margin-top: 0;
  }

  #pave {
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
    background-color: #C5E99B;
    display: block;
    padding: 20px;
    font-family: modern;
    color: #548687;
    text-align: center;
    text-justify: inter-word;
    font-size: 16px;
    margin-bottom: 0;
  }

#pave h2 {
  font-size: 25px;
  color : #548687;
}

  #pave h4 {
    margin-bottom: 5px;
  }

  .projets{
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
    vertical-align: top;
    font-family: modern;
    color: #808080;
    text-align: center;
    font-size: 16px;
    display: block;
    padding: 16px;
  }

  .gallery {
    border: 1px solid #8FBC94;
  	font-family : modern;
    margin-top: 10%;
    -webkit-filter: blur(0) grayscale(0);
    filter: blur(0) grayscale(0);
  }

  .gallery:hover {
      border : 1px solid #8FBC94;
  	-webkit-filter: blur(0) grayscale(0);
  	filter: blur(0) grayscale(0);
  }

  .telecharger{
    width : 100% ;
    background-color : #548687 ;
    display : inline-block ;
    margin-top : 5% ;
    padding : 0 ;
  }

.telecharger p{
  font-family : modern ;
  color : white ;
  text-align: center;
  text-justify: inter-word;
  font-size:17px;
  padding : 2% ;
  margin-left: 10px;
}

  #reseaux p {
    color: white;
  }

  #reseaux p a {
    margin-right: 235px;
  }

.infos h2 {
  color : white;
}

  #blocblanc {
    margin-bottom: 0;
}


@media only screen and (max-width: 992px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
